<% provide(:title,'Sin up')%>
<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>

<h1>Sign up</h1>
<p>This will be a signup pages for new users</p>
</body>
</html>

